AI DEMO V1/n8n-workflows/auto-document-generator.json
{
  "name": "AI Agent - Auto Document Generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-document",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/agents/chat/stream",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ 'Buat dokumen bisnis dengan judul: ' + $json.title + '. Konten yang diminta: ' + $json.content_request }}"
            },
            { "name": "mode", "value": "single" },
            { "name": "agent_name", "value": "synthesizer" }
          ]
        },
        "options": { "timeout": 120000 }
      },
      "id": "call-ai-agent",
      "name": "Call AI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/files/create-document",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "filename", "value": "={{ $json.title }}" },
            { "name": "content", "value": "={{ $json.data }}" },
            { "name": "doc_type", "value": "md" }
          ]
        }
      },
      "id": "save-document",
      "name": "Save Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Dokumen berhasil dibuat', path: $json.path } }}"
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Call AI Agent", "type": "main", "index": 0 }]] },
    "Call AI Agent":   { "main": [[{ "node": "Save Document", "type": "main", "index": 0 }]] },
    "Save Document":   { "main": [[{ "node": "Respond",       "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
