AI DEMO V1/n8n-workflows/laporan-harian.json
{
  "name": "AI Agent - Laporan Harian Otomatis",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 24 }] }
      },
      "id": "schedule-trigger",
      "name": "Setiap Hari",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/metrics/system",
        "options": {}
      },
      "id": "get-metrics",
      "name": "Ambil Metrik Sistem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/agents/chat/stream",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ 'Buat laporan harian singkat berdasarkan data sistem berikut: CPU=' + $json.cpu.percent + '%, Memory=' + $json.memory.percent + '%, Disk=' + $json.disk.percent + '%. Sertakan rekomendasi jika ada anomali.' }}"
            },
            { "name": "mode", "value": "single" },
            { "name": "agent_name", "value": "analyst" }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "id": "generate-report",
      "name": "Generate Laporan AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/files/create-document",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "filename", "value": "={{ 'laporan-harian-' + new Date().toISOString().substring(0,10) }}" },
            { "name": "content", "value": "={{ $json.data }}" },
            { "name": "doc_type", "value": "md" }
          ]
        }
      },
      "id": "save-report",
      "name": "Simpan Laporan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Setiap Hari":         { "main": [[{ "node": "Ambil Metrik Sistem",  "type": "main", "index": 0 }]] },
    "Ambil Metrik Sistem": { "main": [[{ "node": "Generate Laporan AI",  "type": "main", "index": 0 }]] },
    "Generate Laporan AI": { "main": [[{ "node": "Simpan Laporan",       "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
